---
categoryTitle: Interior Decorating
logo: 'https://via.placeholder.com/450'
backgroundImage: 'https://images.unsplash.com/photo-1548772109-f285438161bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'
title: 'Demo Expert'
---

<section class="my-12">
    <div class="container mx-auto">
        <div class="text-center border-4 border-black py-8 text-4xl font-bold">
            HEADER
        </div>
    </div>
</section>

<section class="my-12">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-7 gap-4">
            <div class="md:col-span-5">
                <div class="grid grid-cols-1 gap-4">
                    <div class="border-4 border-black text-center text-4xl py-32 flex items-center justify-center">
                        View / Graphic Box
                    </div>
                    <div class="border-4 border-black text-center text-4xl py-32 flex items-center justify-center">
                        Business Blog / Text
                    </div>
                    <div class="border-4 border-black text-center text-4xl py-32 flex items-center justify-center">
                        Archived Blogs
                    </div>
                </div>
            </div>
            <div class="md:col-span-2">
                <div class="grid grid-cols-1 gap-4">
                    <div class="border-4 border-black text-center text-2xl py-12">
                        Social <br> Links
                    </div>
                    <div class="border-4 border-black text-center text-2xl py-12">
                        Phone <br> Address
                    </div>
                    <div class="border-4 border-black text-center text-2xl py-24">
                        300x250
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>