---
categoryTitle: Martial Arts / Fitness
logo: '../img/elite_academy/Elite_Logo.jpg'
backgroundImage: 'https://images.unsplash.com/photo-1515025617920-e1e674b5033c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1414&q=80'
title: 'Elite Academy of Martial Arts'
---

<section class="my-12">
    <div class="container mx-auto">
        <div class="text-center py-8 px-4 md:px-0">
            <!-- Header Content Start -->
                <h1 class="text-4xl font-bold">Elite Academy of Martial Arts</h1>
                <p class="text-gray-800 text-xl">
                    Committed to Improving Lives Through Martial Arts In Junction City
                </p>
            <!-- Header Content End -->
        </div>
    </div>
</section>

<section class="my-12">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-7 gap-4">
            <div class="md:col-span-5">
                <div class="grid grid-cols-1 gap-4">
                    <div class=" text-center text-4xl flex items-center justify-center">
                        <!-- View / Graphics Content Start -->
                        <img src="/img/eagle-logo-blue.png" alt="Elite Academy Logo"/>
                        <!-- View / Graphics Content End -->
                    </div>
                    <div class="border-4 border-black">
                        <!-- Business Blog / Text Content Start -->
                        <h2>The Life-Changing Benefits of Martial Arts</h2>
                        <!-- Business Blog / Text Content End -->
                    </div>
                    <div class="border-4 border-black text-center text-4xl py-32 flex items-center justify-center">
                        Archived Blogs
                    </div>
                </div>
            </div>
            <div class="md:col-span-2">
                <div class="grid grid-cols-1 gap-4">
                    <div class="border-4 border-black text-center text-2xl py-12">
                        Social <br> Links
                    </div>
                    <div class="border-4 border-black text-center text-2xl py-12">
                        Phone <br> Address
                    </div>
                    <div class="border-4 border-black text-center text-2xl py-24">
                        300x250
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>